<style>
* }
   box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #00008b;
  
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: sans-serif;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 98.5%;
  background-color: #f0f8ff;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #f0f8ff;
  width: 85%;
  padding: 50px;
}

/* Add a card effect for articles */
.card {
  background-color: #f0f8ff;
  padding: 20px;
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #f0f8ff;
  margin-top: 30px;
  font-family: sans-serif;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}






</style>
</head>
<body